<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DİM vesaitler</title>
</head>
<body>
	<h3>Satilan DİM vesaitler:</h3>
	<table>
		<thead>
			<tr>
				<th>Kitablar</th>
				<th>Qiymetler</th>
				<th>Say</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Riyaziyyat</td>
				<td>15</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Fizika</td>
				<td>25</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Edebiyyat</td>
				<td>10</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Umumi tarix</td>
				<td>22</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>
</body>
</html>