<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Yeni Kitab Qeydiyyatı</title>
</head>
<body>
	<a th:href="@{/book/list}">Geri qayıt</a>
	<h4>Qeydiyyat üçün aşağıdakıları doldurun!</h4>
	<div style="width: 30%; margin: auto;">
		<form th:action="@{/books/save}" method="post" th:object="${book}">
			<label for="book-name">Kitabın adı</label><br> 
			<input id="book-name" 
				class="form-control" 
				th:field="*{name}"><br>

			<label for="book-price">Kitabın qiyməti</label><br> 
			<input type="number" 
			    id="book-price" 
				class="form-control"
				th:field="*{price}"><br> 
			
			<label for="book-language">Kitabın dili</label><br> 
			<select id="book-language" class="form-control" th:field="*{language}">
			<option th:each="lang : {$language}" th:value="${lang}" th:text="${lang}"></option>
			</select> <br> 
			
			<label >Kitabın müəllifi</label><br>
			<span th:each="ath : {$authors}">
			<input type="checkbox" th:value="${ath}" th:fiels="*{authors}">
			<span  th:text="${ath}"></span><br>
			</span>
			
			<input type="submit" value="Daxil et" class="btn btn-success">
		</form>
	</div>
</body>
</html>